page-home {

    /*Centralizar as tags H3*/
    h3 {
        text-align: center;
    }

    /*IMG configuração tamanho da imagem e posicao*/
    img {
        width: 200px;
        align-self: center;
        margin: auto;
        display: block;
        padding: 10px;


    }

}
